.wall1{
    height: 700px;
    width: 100%;
    border: solid 1px green;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.BouncingBall{
    height: 100px;
    width:100px;
    background-color: rgb(12, 59, 12);
    border-radius: 50%;
    margin: 50px auto;
    animation-name: ball;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translateX(100%);
}

@keyframes ball {
    0% {transform: translateY(0) scale(1);}
    50% {transform: translateY(550px) scale(1);}
    55% {transform: translateY(550px) scale(1.5, 0.55);}
    60% {transform: translateY(550px) scale(1);}
    100% {transform: translateY(0) scale(1);}
}

.wall2{
    height: 700px;
    width: 100%;
    border: solid 1px green;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.loader{
    height: 50px;
    width:50px;
    border: dashed 6px rgb(12, 59, 12);
    border-radius: 50%;
    margin: 300px 600px;
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transform: translateX(100%);
}

@keyframes loading {
    0% {border-color: violet; transform: skew(72deg); }
    25% {border-color: blue; transform: skew(144deg); }
    50% {border-color: green; transform:skew(216deg); }
    75% {border-color: yellow; transform: skew(288deg); }
    100% {border-color: red; transform: skew(360deg); }
}

.wall3{
    height: 700px;
    width: 100%;
    border: solid 1px green;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.hello{
    height: 50px;
    width:150px;
    background-color: rgb(149, 4, 45);
    color: aliceblue;
    border-radius: 50px;
    margin: 300px 700px;
    cursor: pointer;
    transition: 0.3s;
}
   
.hello:hover{
    background-color: white;
    color: black;
    transform: scale(1.15);
    box-shadow: 0 0 20px slategrey;
    animation-name: button;
    animation-duration: 3s;
    border-color: rgb(8, 132, 116);
}
